.phonebook {
    min-width: 280px;
    max-width: 400px;
    align-self: center;

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        gap: 10px;
        align-items: flex-start;
        justify-content: space-between;
        overflow: hidden;


        @include vp-767 {}
    }

    &__flag-title-wrapper {
        display: flex;
        gap: 20px;
        flex-direction: row;
        position: relative;

        &::after {
            position: absolute;
            left: 60px;
            content: '..................................................';
            z-index: -1;
        }
    }

    &__item-title {
        font-size: 24px;
        font-weight: lighter;
        padding-right: 20px;
        background-color: $color-blue-charcoa;
        margin: 0;
    }

    &__item-number {
        font-size: 24px;
        font-family: monospace;
        font-weight: lighter;
        margin: 0;
        padding-left: 20px;
        background-color: $color-blue-charcoa;
    }

}