.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
    gap: 40px;
    padding: 50px 0;

    &__title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        flex-shrink: 0;

    }

    &__title {
        margin: 0;
    }

    &__subtitle {
        font-size: 24px;
        font-family: monospace;
        font-weight: lighter;
        margin: 0;
        margin-bottom: 20px;
    }

    &__description {
        margin: 0;
        margin-bottom: 10px;
    }

    &__screen {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        letter-spacing: 0.2em;
        width: 100%;
        height: 80px;
        background-color: $color-trout;
        border-radius: 20px;
        padding: 0 20px;
        flex-wrap: wrap;

        @include vp-767 {
            height: 50px;
        }
    }

    &__buttons-wrapper {
        display: flex;
        align-self: center;
        gap: 20px;
        align-items: center;

        @include vp-767 {
            width: 100%;
            justify-content: center;
            gap: 10px;
        }
    }

    &__numpad-book-wrapper {
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 20px;
        align-items: flex-start;
        justify-content: space-around;

        @include vp-767 {
            flex-direction: column-reverse;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }
    }

    &__numpad {
        user-select: none;
        display: grid;
        grid-template-columns: repeat(3, 80px);
        column-gap: 10px;
        row-gap: 20px;
        padding: 0;
        margin: 0;
        list-style: none;

        @include vp-767 {
            grid-template-columns: repeat(3, 50px);
            align-self: center;
        }
    }

    &__collapsible {
        align-self: center;

        & summary {
            margin-bottom: 10px;
        }
    }

    &__control-button {
        align-self: flex-start;
        background-color: transparent;
        aspect-ratio: 1;
        color: inherit;
        width: 100px;
        height: 60px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: 1px solid $color-white;
        cursor: pointer;

        &:hover {
            background-color: $color-white;
            color: $color-trout;
        }

        @include vp-767 {
            width: 80px;
            height: 40px;
        }

        &--disabled {
            opacity: .4;
            pointer-events: none;
        }
    }

    &__pick-button--active {
        border: none;
        background-color: $color-white-50;
        color: $color-blue-charcoa;
        pointer-events: none;
        cursor: disabled;

    }


    &__button {
        aspect-ratio: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: 1px solid $color-white;
        cursor: pointer;

        &:hover {
            background-color: $color-white;
            color: $color-trout;
        }
    }

    &__button-text {
        font-size: 24px;
    }

}