.visualizer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;

    &__bar {
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #0f0, #090);
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    &--active &__bar {
        opacity: 1;
    }
}